[submodule "report/diploma-latex-template"]
	path = report/diploma-latex-template
	url = https://github.com/iktovr/diploma-latex-template
[submodule "presentation/diploma-slides-latex-template"]
	path = presentation/diploma-slides-latex-template
	url = https://github.com/iktovr/diploma-slides-latex-template
